.actionContainer {
  // position: absolute;
  // bottom: 0;
  // left: 50%;
  // width: 200px;
  // background-color: rgba(10, 163, 155, 0.171);
  font-family: Montserrat, sans-serif;
  margin: auto;
  border-radius: 10px;
  // transform: translate(-50%, 0%);
  // animation: action 2000ms ease-in-out;
}

.action {
  margin: 0;
  text-align: center;
  color: white;
  opacity: 0;
  // transition: opacity 1s;
}

// .hidden {
//   opacity: 0;
// }

.appear {
  opacity: 0;
}

.appearActive {
  opacity: 1;
  transition: opacity 1s;
  // transform: translate(0, 10%);
}

.appearDone {
  opacity: 1;
  // transform: translate(0, 10%);
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 1s;
}

.enterDone {
  opacity: 1;
  // transform: translate(0, 10%);
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 1s;
}

.exitDone {
  opacity: 0;
}