// @mixin player() {

// }

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$stats-background: rgba(27, 27, 27, 0.89);

.player-container {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 200px;
  
}

.imgs-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
} 

.stats {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: $stats-background;
  border-radius: 20px;
}

.image {
  margin: 10px 2px;
  width: 77px;
  height: auto;
  transition: all 0.5s;
}

.player1 {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(10%, -50%);
}

.player2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%);
}

.player3 {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10%, -50%);
}

.player0 {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 18%);
}

.container{
  color: white;
  margin: 0;
  text-align: center;
}

.bet {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: white;
}

.turn {
  box-shadow: 0 0px 10px 3px rgba(245, 248, 62, 0.699);
}