$background: rgb(51, 56, 51);
$table: #35654d;
$tableContainer: rgb(39, 26, 10);
$borderRadius: 400px;

.game{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: $background;
}

.tableContainer {
  height: 700px;
  width: 80vw;
  background-color: $tableContainer;
  border: solid 40px $tableContainer;
  border-radius: $borderRadius;
}

.table {
  height: 100%;
  width: 100%;
  background-color: $table;
  border-radius: $borderRadius;
}

.title {
  margin: 0;
}