.slider-container {
  width: 200px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #868686;
  outline: none;
  border: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 10px;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  border-radius: 10px;
  cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  background: #c9c8b3;
  border-radius: 10px;

}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}